<%=  link_to "Add a product", new_product_path %>
<h1>Rainforest</h1>
<h3>Products <small><%= page_entries_info @products %></small></h3>
<!-- <a href="" id="my-link" data-message="Someone clicked me!">My Link</a> -->

<!-- <script>
	$("#my-link").click(function(){
		alert($(this).data("message"));
	});
</script> -->

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
	<% end %>

<h3>All Products</h3>

<div id="products">
	<%= render @products %>
</div>

<%= paginate @products %>

<!-- <script type="text/javascript">
	function display_search_results() {
		if (this.readyState === 4) {
			console.log(this)
			document.getElementById('products').innerHTML = this.responseText;
		}
	}
	var form = document.getElementById('search-form');
	form.addEventListener('submit', function(event){ 
		event.preventDefault();
		var searchValue = document.getElementById('search').value;
	
		var xhr = new XMLHttpRequest();
		xhr.onload = display_search_results;
		xhr.open('GET', '/products?search=' + searchValue, true)
		xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
		xhr.send()
	});
 </script> -->